.link {
  color: #fdecef;
  font-weight: 400;
  display: inline-block;
  position: relative;
  text-align: center;
  /* text-shadow: 1px 1px 1px brown; */
  text-decoration: none;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  font-size: 1.4rem;
  text-transform: 'capitalize';
  z-index: 2;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}

.link:hover {
  color: rgb(209, 144, 255);
}

.barNav {
  display: none;
}

.barLink {
  color: #fdecef;
  font-weight: 500;
  text-shadow: 1px 1px 5px black;
  -webkit-text-stroke: 0.1px;
  -webkit-text-stroke-color: #ffadc0;
  display: inline-block;
  position: relative;
  text-align: center;
  /* text-shadow: 1px 1px 1px brown; */
  text-decoration: none;
  /* padding-top: 4px;
  padding-bottom: 4px; */
  margin-right: 20px;
  cursor: pointer;
  font-size: 1.75rem;
  text-transform: 'capitalize';
  z-index: 2;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}

.barLink:hover {
  color: rgb(209, 144, 255);
}

.activeBarLink {
  color: #f0426e;
}

.icld {
  color: #ffadc0;
  padding: 2px;

  text-shadow: 1px 1px 10px black;
  -webkit-text-stroke: 0.1px;
  -webkit-text-stroke-color: #ffadc0;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: 500;
  /* color: rgb(213, 54, 213); */
}

.icld.activeIcld {
  color: #f0426e;
  font-weight: 500;
  font-size: 2rem;
  /* color: rgb(213, 54, 213); */
}

.icld:hover,
.barLink:hover,
.link:hover {
  color: #fc7391;
}

.icld:after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #ffadc0;
  transition: width 0.2s;
}

.icld:hover::after {
  width: 100%;
}

.active {
  color: rgb(249, 144, 255);
}

.header {
  /* top: 0; */
  /* left: 0; */
  position: fixed;
  height: 60px;
  width: 99vw;
  margin: 0 auto;
  z-index: 3;
  background-image: radial-gradient(
    center,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0)
  );
  overflow: hidden;
  transition: all 0.3s ease;
}

.header.activeMenu {
  height: 250px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.858);
  background-image: radial-gradient(
    center,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.7)
  );
}

.nav {
  width: 90%;
  max-width: 960px;
  /* display: flex; */
  /* align-items: center; */
  justify-content: space-between;
  /* height: 100%; */
  margin: 0 auto;
  transition: all 0.3s ease;
}

.menuList {
  width: 90%;
  max-width: 960px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  margin-top: 100px;
  opacity: 0;
  transition: all 0.3s;
}

.activeMenuList {
  opacity: 1;
  margin-top: 0;
}

.line1 {
  margin-bottom: 6px;
}

/* .line2 {
} */

.line3 {
  margin-top: 6px;
}

.line1,
.line2,
.line3 {
  background-color: #fdecef;
  width: 75px;
  height: 3px;
  display: block;
  position: relative;
  opacity: 1;
  border-radius: 15%;
  transition: all 0.3s;
}

.closeBtn:hover > .line1,
.closeBtn:hover > .line2,
.closeBtn:hover > .line3 {
  background-color: #fc7391;
}

.line1.active {
  transform: rotate(270deg);
  opacity: 0;
  background-color: #f0426e;
  height: 5px;
  top: 5px;
  width: 25px;
}

.line2.active {
  transform: rotate(45deg);
  background-color: #f0426e;
  height: 5px;
  width: 25px;
}

.line3.active {
  transform: rotate(-45deg);
  background-color: #fc7391;
  height: 5px;
  top: -10px;
  width: 25px;
}

.closeBtn {
  align-items: center;
  /* padding: 16px; */
  float: right;
  /* height: 100%; */
  /* width: 25px; */
  /* position: absolute; */
  text-decoration: none;
  /* top: 10px; */
  /* left: 25px; */
  font-size: 36px !important;
  /* margin-right: 50px; */
  z-index: 3;
  color: #fdecef;
  cursor: pointer;
  transition: background-position 0.3s;
}

.link:after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #fdecef;
  transition: width 0.2s;
}

.link:hover::after {
  width: 100%;
}

@media (min-width: 768px) {
  .closeBtn {
    display: none;
  }

  .barNav {
    display: flex;
  }
}

.spanI {
  color: #7400b8;
  transition: color 3s ease-in-out;
}

.spanIChng {
  color: #5390d9;
  transition: color 3s ease-in-out;
}

.spanC {
  color: #6930c3;
  transition: color 3s ease-in-out;
}

.spanCChng {
  color: #5e60ce;
  transition: color 3s ease-in-out;
}
.spanL {
  color: #5e60ce;
  transition: color 3s ease-in-out;
}

.spanLChng {
  color: #6930c3;
  transition: color 3s ease-in-out;
}

.spanD {
  color: #5390d9;
  transition: color 3s ease-in-out;
}

.spanDChng {
  color: #7400b8;
  transition: color 3s ease-in-out;
}
