.layoutMain {
  /* position: absolute; */
  padding: 24px;
  display: flex;
  /* align-items: center;
  justify-content: left; */
  width: 90vw;
  max-width: 960px;
  height: 80vh;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.803);
}

.layoutInner {
  /* width: 100%; */
  max-width: 960px;
  display: flex;
  flex-direction: column;
  /* /* justify-content: center; */
  align-items: c;
}
