.mainSocials {
  max-width: 500px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialIcons {
  display: flex;
  margin: 8px;
  width: 75px;
  height: 75px;
  color: #fdecef;
  transition: all 0.2s ease-in;
  filter: drop-shadow(0.5px 0.5px 3px rgba(0 0 0 /0.4));
}

.socialIcons:hover {
  color: #f0426e;
  text-shadow: ;
}
