html,
body {
  background-color: #fdecef;
  font-family: Montserrat;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  /* position: relative; */
  /* background-color: #b56576; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
