.container {
  min-height: 100vh;
  width: 90%;
  max-width: 960px;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  color: #fafafa;
}

.main {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  color: black;
  height: 100vh;
  z-index: 2;
  /* padding: 5rem 0; */
  /* flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;

  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: blue;
  text-shadow: #6d0055 0.01px 0.01px 3px;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.img {
  position: relative;
  z-index: -1;
  padding: 6px;
  border: 10px white;
  border-radius: 6px;
}

.mainCard {
  z-index: 2;
  /* cursor: pointer; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 100%;
  height: 75%;
  background: radial-gradient(
    closest-side,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.01)
  );
  transition: all 1s ease-in-out;
}

/* .mainCard:hover {
  background-position: 100px;
  background-color: radial-gradient(
    closest-side,
    rgba(249, 157, 157, 0.975),
    rgba(249, 157, 157, 0.1)
  );
} */

/* 
.Modal {
  cursor: initial;
  position: absolute;
  background-color: rgb(248, 255, 240);
  width: 75%;
  height: 60%;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  z-index: 10;
  transition: all 1s ease-in-out;
}

.Overlay {
  cursor: pointer;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.502);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
} */

.titleA {
  display: block;
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease, opacity 1.5s ease;
}

.titleB {
  position: absolute;
  opacity: 0;
  transform: translateX(-250%);
  transition: transform 1s ease, opacity 1.5s ease;
}

.mainCard:hover > .title > .titleA {
  opacity: 0;
  transform: translateX(250%);
}
.mainCard:hover > .title > .titleB {
  /* display: block; */
  opacity: 1;
  transform: translateX(0);
}

.titleName {
  /* margin-left: 22px; */
  /* display: block; */
  color: #f08400;
  animation: glow 5s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 8px #eb2b00, 0 0 20px #e45b12, 0 0 30px #eb8e1b,
      0 0 40px #5e60ce, 0 0 50px #5e60ce, 0 0 60px #5e60ce, 0 0 70px #5e60ce;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #6930c3, 0 0 40px #6930c3,
      0 0 50px #6930c3, 0 0 60px #6930c3, 0 0 70px #6930c3, 0 0 80px #6930c3;
  }
}
