/* .aboutMain {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 90vw;
  max-width: 960px;
  height: 80vh;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.803);
}

.aboutInner {
  max-width: 960px;
} */
