.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.firstName,
.lastName {
  width: 100%;
  padding-top: 20px;
  margin-top: 16px;
  /* display: inline-block; */
}

/* input {
  width: 75%;
} */
