.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.fields {
  width: 80%;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 6px auto;
  /* justify-content: space-between; */
}

.email,
.userName {
  height: 36px;
}

.userName,
.email,
.message,
.button {
  box-shadow: 1px 1px 10px #fdecef;
}

.userName,
.email,
.message {
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  margin: 0;
  min-width: 300px;
  max-width: 300px;
  background-color: #fdecef;
  /* margin-top: 8px; */
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  /* box-shadow: none; */
  /* border-top: none; */
  /* background-color: transparent; */
}

.message::placeholder,
.userName::placeholder,
.email::placeholder {
  color: rgba(0, 0, 0, 0.331);
}

.message {
  padding-top: 8px;
  min-height: 60px;
  max-height: 100px;
  scrollbar-width: 0px;
}

.message::-webkit-scrollbar {
  display: none;
}

/* input {
  width: 75%;
} */

.button {
  border: none;
  width: 120px;
  height: 36px;
  border-radius: 5px;
  font-family: inherit;
  font-weight: 500;
  font-size: 100%;
  background-color: #fc7391;
  color: #fdecef;
  transition: all 0.5s ease-in-out;
}

.button:hover {
  color: #f0426e;
  background-color: #ffadc0;
}
